.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 50px;
    cursor: pointer;
    color: tomato;
}

.navbar .navbar-menu {
    display: flex;
    list-style: none;
    gap: 30px;
    color: #49557e;
    font-size: 16px;
}

.navbar .navbar-menu li {
    cursor: pointer;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-right i {
    font-size: 18px;
    color: #49557e;
    cursor: pointer;
}

.navbar-right button {
    background-color: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 8px 25px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar-right button:hover {
    background-color: #fff4f2;
}

.navbar .navbar-menu .active {
    padding-bottom: 2px;
    border-bottom: 2px solid tomato;
    color: tomato;
}

.navbar .navbar-right .navbar-cart {
    position: relative;
}

.navbar .navbar-right .navbar-cart .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}

.navbar-profile {
    position: relative;
}

.nav-profile-dropdown {
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}

.navbar-profile:hover .nav-profile-dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff2ef;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid tomato;
    outline: 2px solid white;
    list-style: none;
    cursor: pointer;
}

.nav-profile-dropdown li {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.nav-profile-dropdown img {
    width: 20px;
}

.nav-profile-dropdown li:hover {
    color: tomato;
}

.navbar .profile_image {
    width: 30px;
    cursor: pointer;
}

@media (max-width: 1050px) {
    .navbar .logo {
        font-size: 40px;
    }

    .navbar .navbar-menu {
        gap: 20px;
        font-size: 17px;
    }

    .navbar-right {
        gap: 30px;
    }

    .navbar-right .icon {
        font-size: 20px;
    }

    .navbar-right button {
        padding: 8px 25px;
    }
}

@media (max-width: 900px) {
    .navbar .logo {
        font-size: 30px;
    }

    .navbar .navbar-menu {
        gap: 15px;
        font-size: 15px;
    }

    .navbar-right {
        gap: 20px;
    }

    .navbar-right .icon {
        font-size: 18px;
    }

    .navbar-right button {
        padding: 6px 20px;
        font-size: 15px;
    }
}

@media (max-width: 750px) {
    .navbar .navbar-menu {
        display: none;
    }
}